* {
    margin: 0px;
    padding: 0px;
    /* remove-start  */
    /* outline-style: dotted; */
    /* outline-color: red; */
    /* remove-end */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.red-text-small{
    color: red;
    font-size: .7em;
}
header{
    max-height: 88px;
    width: 100%;
    min-width: 800px;
    background: rgb(62, 62, 62);
    padding: 20px;
    box-shadow: 0px 10px 10px black;
}
.headerSpaceBetween{
    display: flex;
    justify-content: space-between;
}

#login{
    display: block;
    text-align: right;
    justify-content: space-around;
    margin-top: 15px;
    transition: all .5s linear;
}
#formLogin{
    position: relative;
}

#logbtn{
    padding: 0px 5px;
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    
}

#regBtn{
    font-size: .7em;
    margin-top: -5px;
    margin-right: -10px;
}

#register{
    display: block;
    padding: 10px;
    margin-top: 50px;
    width: 400px;
    background-color: rgb(181, 181, 181);
    border:1px solid  black  ;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    transition: all .5s linear;
}

.visible{
    visibility: visible;
    opacity: 1;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.reghead{
    padding: 10px 1px;
    margin: 0px;
}
.registerbtn{
    margin: 0px 0px;
    padding: 0px 5px;
}


body{
    font-family: 'Cardo', serif;
    /* background: black; */
    background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 2px,
        #333 2px,
        #333 4px
    );
}

/* My own bootstrap if you will */
.block{
    display: block;
}
.inline{
    display: inline-block;
}
.bottom{
    position: absolute;
    bottom: 0;
}

.right{
    margin-left: 100%;
}
.text-right{
    text-align: right;
}
.abs{
    position: absolute;
}

/* random rotation effects. */
/* .rotate{
    animation: rotC 20s infinite linear;
}
.rotate1{
    animation: rotCC 30s infinite linear;
}
.rotate2{
    animation: rotC 40s infinite linear;
}
.rotate3{
    animation: rotCC 50s infinite linear;
}
.rotate4{
    animation: rotC 55s infinite linear;
}
.rotate5{
    animation: rotCC 65s infinite linear;
}

@keyframes rotC {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
@keyframes rotCC {
    from{
        transform: rotate(359deg);
    }
    to{
        transform: rotate(0deg);
    }
} */